#active-users-chart {
	width : 800px;
	height: 300px;
}

#session-lengths-chart {
	width : 800px;
	height: 300px;
}
.table tr:nth-child(even) {
	background: #0099FF
}
.table tr:nth-child(odd) {
	background: #00CCFF
}
#visit-stats-chart {
	width : 800px;
	height: 300px;
}
.navigation-bar {
	position: absolute;
	top: 0px;
	left:326px;
	width: 200px;
	height: 30px;
	background: rgba(255, 255, 255, 0.199219);
	z-index: 1000;
	border-radius: 5px;
}
.text {
	position: absolute;
	top: 4px;
}
.states-page {
	position: absolute;
	left: 202px;
	width: 139px;
}
.analytics-page {
	position: relative;
	left: 100px;
	width: 89px;
}
.users-page {
	position: relative;
	left: 200px;
	width: 139px;
}
.search-pairs {
	position: absolute;
	top: 119px;
	left: 569px;
	width: 221px;
	height: 50px;
}
.input {
	border-radius: 5px;
}
.table {
	position: absolute;
	top: 172px;
	left:  50px;
	height: 600px;
	text-align: center;
	display: none;
}
#history {
	width: 800px;
	height: 500px;
	display: none;
}
.fancy {
	width: 800px;
	height: 500px;
	display: none;
}