!!! 5
html
	head
		title= title
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script(type='text/javascript', src='cores/themes/jquery-1.8.0.min.js')
		script(type = 'text/javascript', src = "//www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart'],'language':'ru'}]}")
		script(type = 'text/javascript', src = '//code.jquery.com/jquery-latest.min.js')
		link(rel = 'stylesheet', href = 'cores/themes/css/views.css')
		script(type='text/javascript', src = '//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js')
		link(rel='stylesheet', type='text/css', media='screen', href='//bit.ly/cNbe6T')
	body
		block content