!!! 5
html
	head
	body
		p Dear user,
		p This email have recently register for using Basbosa Beta. Pleae click 
			a(href='#{url}') here 
			| to verify your email address.
			| If you can't view the link, please copy and paste this URL in your browser: #{url}
		p Thanks for regsitering for Basbosa Beta,
		p HUB43 Team