extends ./layout

block content
	script(type='text/javascript', src='corec/vendors/require-2.0.4.js')
	script(type='text/javascript', src='corec/vendors/jade_runtime.js')
	script(type='text/javascript', src='cores/themes/jquery.mousewheel-3.0.6.pack.js')
	script(type='text/javascript', src='cores/themes/jquery.fancybox.js?v=2.1.0')
	link(rel='stylesheet', type='text/css', href='cores/themes/css/jquery.fancybox.css?v=2.1.0', media='screen')
	script(type = 'text/javascript', src = 'cores/themes/search_on_users.js')
	script(type = 'text/javascript', src = 'cores/themes/visits_log.js')
	.navigation-bar 
		a.analytics-page(href='/analytics') Analytics Page
		a.states-page(href='/stats') States Page
		a.users-page(href='/search') Search On Users
	h1= title
	p Welcome to the Search On users  page!
	.search-pairs
		input.input(type='text')
		input.search(type='button', value='Search')
	.table